.register {
  text-align: center;
  border: 1px solid lightgray;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 3px 2px 5px 3px lightgray;
  border-radius: 5px;
  padding: 25px 0;
}

.form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.inputBox {
  margin: 30px 0;
  width: 100%;
}

.inputBox label {
  margin-right: 10px;
}

.inputBox input {
  border-radius: 4px;
  background-color: #f8f8f8;
  border: none;
  padding: 15px 0 15px 15px;
  width: 100%;
  box-sizing: border-box;
}

.inputBox input ::placeholder {
  color: #d2d2d2;
}

.validationError {
  color: #c63d2f;
  font-size: 13px;
  display: flex;
  margin: 5px 0 0 10px;
}

.button {
  margin-top: 40px;
}

.button button {
  background-color: #bca37f;
  color: white;
  cursor: pointer;
  padding: 15px;
  border: 1px solid #bca37f;
  border-radius: 4px;
  width: 100%;
  font-size: 15px;
}

.goLogin {
  margin-top: 15px;
  font-size: 13px;
}

.goLogin a {
  color: black;
  opacity: 0.5;
}
