.notice {
  border: 1px solid #dbdada;
}

.title {
  border-bottom: 1px solid #dbdada;
  background-color: lightblue;
  padding: 7px;
}

.noticeDes {
  padding: 7px;
}

.mainTable {
  margin: 50px 0 0;
}

.table {
  width: 100%;
}
